/* @media screen and (max-width: 1000px) {} */

@font-face {
    font-family: 'Fraunces';
    src: url(./fonts/Fraunces-Regular.ttf);
}
@font-face {
    font-family: 'Barlow';
    src: url(./fonts/Barlow-Regular.ttf);
}

body {
    font-size: 4vh;
    font-size: 2vw;
    font-weight: 700;
    color: white;
    margin: 0;
}
 
.header-container {
    font-family: 'Fraunces';
    font-weight: 900;
    max-width: 100%;
    height: 500px;
    background: url(./images/desktop/image-header.jpg) no-repeat center center;
    display: block;
    background-size: cover;
}

nav {
   height: 64px;
   width: 100%;
}

.brand-label {
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.nav-link-container {
    max-width: 50%;
    position: absolute; 
    right: 2rem;
    top: 1rem;
}

.nav-links {
    font-family: 'Barlow';
    font-size: 1rem;
    margin-right: 2rem;
    height: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 32px;
    padding: min(1.2rem, 0.5rem);
}

.nav-links:hover {
    background-color: white;
    font-size: 1rem;
    margin-right: 2rem;
    color: black;
    letter-spacing: 0;
}

.transform-container {
    max-width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(24, 53px);
    grid-template-rows: repeat(6, 60px);
    grid-auto-flow: column;
}

.transform-image {
    width: 100%;
    grid-row: 1 / 6;
    grid-column: 13 / 25;
}

.transform-message-container {
    max-width: 100%;
    height: auto;
    grid-row: 3/ 7;
    grid-column: 3 / 5;
}

.transform-header {
    font-family: 'Fraunces';
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.transform-text {
    font-family: 'Fraunces';
    font-size: 18px;
    color: black;
    word-wrap: normal;
}

.transform-link {
    font-family: 'Fraunces';
    font-weight: 600;
    font-size: 24px;
    width: fit-content;
    color: black;
}

.transform-link:hover {
    cursor: pointer;
    text-decoration: underline 5px yellow;
}
